.container {
   margin-top: .5em;
   width: 400px;
   height: 360px;
   background-color: var(--laranja);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-family: Autour one;
}

.capa {
   width: 100%;
}

.container h2 {
   padding: 0 1em 1em;
}
